{% assign t = site.data.translations[page.lang] %}

<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ t.contacts_section }}</h2>
                    <h3 class="section-subheading text-muted">
                         Apex-Net Srl<br>
                         Via Cerchia di San Giorgio, 145<br>
                         47521 Cesena FC<br>
                         +39 0547 1902799  |  info@apexnet.it<br>
                         P.IVA 03882430402
                    <a href="{{ site.baseurl }}/img/certificate.pdf">
                     <img src="{{ site.baseurl }}/img/quality.png" class="img-responsive img-centered" alt="">
                   </a>
                    </h3>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">


                <div class="wsite-map">
                  <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 400px; margin-top: 10px; margin-bottom: 10px;"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8983.137645507439!2d12.240178696276457!3d44.15785386947097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ca5267b653f05%3A0xaaaf9566589eb45f!2sApex-Net+Srl!5e0!3m2!1sit!2sit!4v1438862672271" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                </iframe>

              </div>

                </div>
            </div>
        </div>
    </section>
