<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
        {% comment %}
            {% include about.html %}
        {% endcomment %}
            {% include clients.html %}

    {% include team.html %}



    {% include contact.html %}
    {% include footer.html %}
      {% comment %}
        {% include modals.html %}
      {% endcomment %}
    {% include js.html %}

    </body>
</html>
